%h2 Sorry
%p Signing up with new accounts directly is not supported.  You will receive signup instructions if you are the primary contact for an invitation or when the primary contact adds you to the guest list with an email address.
= render "devise/shared/links"
