- if alert or notice
  .row-fluid#alerts
    .span10.offset1
      - if alert
        #alert-box.alert.alert-error
          = alert
          %button.close#close-alert{ :'data-dismiss' => 'alert' }
            ×
      - if notice
        #notice-box.alert.alert-info
          = notice
          %button.close#close-alert{ :'data-dismiss' => 'alert' }
            ×
  :javascript
    $('#close-alert').click( function () { $('#alerts').hide() } )