#sign-in-modal.hero-unit.modal.modal-fullscreen.hide.fade{ tabindex: -1, role: 'dialog', }
  .modal-body
    %button.close.btn-large{ type: "button", :'data-dismiss' => "modal", :'aria-hidden' => "true" }
      = "×"
    