#sign-in-modal.reveal-modal.large
  %p
    Sign in with your user credentials
  %p
    = form_tag user_session_path do
      %fieldset
        %legend="Credentials"
        .row
          .twelve.columns
            %input{id: "user[email]", class: "user[email]", type: "text", placeholder: "Email" }
        .row
          .twelve.columns
            %input{id: "user[email]", class: "user[email]", type: "password", placeholder: "Password" }
            
        %button.button
          Sign in
        = link_to "Forgot your password?", new_password_path('user'), class: 'button'
        %p{style: "margin-bottom:10px"}
        
  = link_to "×", "", class: "close-reveal-modal"