.row-fluid
  .status-confirmation
    %span.vertical-middle
      %small= 'Attending?'
    %span.btn-group{:'data-toggle' => 'buttons-radio'}
      %button.btn.btn-primary.btn-small.vertical-middle{:'data-toggle' => 'button'}
        %i.icon-ok.vertical-middle
      %button.btn.btn-danger.btn-small.vertical-middle
        %i.icon-remove.vertical-middle