- content_for :header_content do
  .page-header
    .row-fluid
      .span6.text-center.light-padding
        %h1
          Gifts & Donations
          .row-fluid
            %small
              Thank you for the thought!
      .span4.light-indent-bottom
        = image_tag "mt-hood-hayden-island.jpg", class: "vertical-middle"
.row-fluid
  .span8.offset2
    %p.lead
      %b
        Information Coming Soon!