- content_for :header_content do
  .page-header
    .row-fluid
      .span7
        %h1
          Monica & Jeremy's Wedding
          %br
          %small
            Welcome to our site!
        %p
          All of the information you might need should be here; check the links above for different sections
          and be sure to RSVP for your events below.  If you have questions please use our
          %a{href: '/contact'}="contact"
          page.  We hope you can make it and can't wait to see you!
      .span5
        #slideshow.carousel.slide
          %ol.carousel-indicators
            %li.active{ :'data-target' => '#slideshow', :'data-slide-to' => '0' }
            %li{ :'data-target' => '#slideshow', :'data-slide-to' => '1' }
            %li{ :'data-target' => '#slideshow', :'data-slide-to' => '2' }
          .carousel-inner
            .item.active
              = image_tag "slideshow_1_scale.jpg", width: '100%'
            .item
              = image_tag "slideshow_2_scale.jpg", width: '100%'
            .item
              = image_tag "slideshow_3_scale.jpg", width: '100%'
          %a.carousel-control.left{ href: '#slideshow', :'data-slide' => 'prev' }
            &lsaquo;
          %a.carousel-control.right{ href: '#slideshow', :'data-slide' => 'next' }
            &rsaquo;

.events-container-header
  %h2
    Your Events
    %small
      RSVP for all your events from this page!
#invitations

:coffee
  $.ajaxSetup({ cache: false });
  window.router = new WeddingPrototype.Routers.InvitationsRouter('collection': #{@invitations.as_json.to_json})
  Backbone.history.start()
