.panel
  .row
    .four.columns
      %p.label
        Status
      %p
        = invitation.status
    .four.columns
      %p.label
        Confirmed Date
      %p
        = l invitation.confirmed_at unless !invitation.confirmed_at