- content_for :header_content do
  .page-header
    .row-fluid
      .span9
        %h1
          Your Invitations
          %br
          %small
            Update the status of all your invitations from this page
.row-fluid 
  #invitations

:coffee
  # This is to prevent JSON data being displayed when the user leaves this page and returns via the "back" button
  $.ajaxSetup({ cache: false }); 
  $('#attendance-progress-bar').popover({'trigger': 'hover', 'html', 'true'})
  $('#attendance-incomplete-bar').popover({'trigger': 'hover', 'html', 'true'})

  window.router = new WeddingPrototype.Routers.InvitationsRouter('columns_per_invitation': 12)
  Backbone.history.start()