//body { 
//  background: url(feathers-scaled.jpg) no-repeat center center fixed; 
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}

.spacer {
  height: 15px;
}

.map {
  height: 300px;
  width: 100%;
}

.modal-body {
  .container {
    width: 100%;
  }
}

.vertical-middle {
  vertical-align: middle;
}

.no-margins {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}